---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home/Template</title>
    </head>
  <body>
    <Navigation />
    <div class="bg-secondary text-black p-1.5" >
    <h1 class="text-3xl mb-1 underline font-bold">This is the Part of the website that I want to template and decide what I can template and automate for the other pages</h1>
      <p class="mb-1">
        This is a test Paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum laudantium voluptatum delectus. Accusamus doloribus saepe harum hic explicabo sequi veniam minus quaerat? Ea nobis facere eaque, consequuntur laborum suscipit?
      </p>
      <p class="text-black">
        This is a second paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum laudantium voluptatum delectus. Accusamus doloribus saepe harum hic explicabo sequi veniam minus quaerat? Ea nobis facere eaque, consequuntur laborum suscipit?
      </p>
    </div>
    <div class="bg-accent space-y-0">
      <h2 class="text-2xl mb-1 underline font-bold">
      Another Section
      </h2>
      <p class="">Another Paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum laudantium voluptatum delectus. Accusamus doloribus saepe harum hic explicabo sequi veniam minus quaerat? Ea nobis facere eaque, consequuntur laborum suscipit?</p>
      <p>Another Paragraph Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nostrum laudantium voluptatum delectus. Accusamus doloribus saepe harum hic explicabo sequi veniam minus quaerat? Ea nobis facere eaque, consequuntur laborum suscipit?</p>
    </div>
    
  </body>
  <script></script>
</html>
