---
import TestLayout from "../layouts/TestLayout.astro"

---

<TestLayout>
    <h1 class="bg-primary text-black">This is a Test Page</h1>
    <div class="bg-accent text-black">
    <p>This is a test paragraph to test out Tailwind Designs</p>
    </div>
</TestLayout>