---
import "../styles/global.css"
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import SectionA from "../components/SectionA.astro"
import SectionB from "../components/SectionB.astro"
import SectionC from "../components/SectionC.astro"
import SectionD from "../components/SectionD.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Test Page";

---

<html lang="en">
    <Head pageTitle={pageTitle}>
        
    </Head>
  <body>
    <Navigation />
    <Hero 
        title="Thoughtful Design. Expert Craftsmanship." 
        subtitle="Custom Designs and Construction"
        image="/images/trinity-pool-2-home-hero.jpg"/>
    <SectionA image="/images/floor-plan.jpg">
        <h1> This is a Section-A Header A little Bit about ourselves</h1>
        <p>This is a Section-A paragraph just explaining a bit more about ourselves</p> 
    </SectionA> 
    
    <SectionC image1="/images/floor-plan.jpg" image2="/images/floor-plan.jpg" image3="/images/floor-plan.jpg">
        <div slot="SectionC-1">
            <h2 class="capitalize">Meet the team behind FMW Builders</h2>
            <p></p>
            </br>
            <a href="/about/" class="border px-4 py-2 uppercase font-semibold font-sans" >Get to know us</a>
        </div>

        <div slot="SectionC-2">
            <h2 class="capitalize">Design and Build</h2>
            <p>See how we can help you design and build your next project.</p>
            </br>
            <a href="/how-we-work/" class="border px-4 py-2 uppercase font-semibold font-sans" >See how we work</a>
        </div>

        <div slot="SectionC-3">
            <h2 class="capitalize">What are we up to?</h2>
            <p>Check out our blog. </p>
            </br>
            <a href="/blog/" class="border px-4 py-2 uppercase font-semibold font-sans" >Visit our Blog</a>
        </div>
    </SectionC>
    
    <SectionB image="/images/floor-plan.jpg">
        <h1> This is a Section-B Header</h1>
        <p>This is a section-B paragraph</p>
    </SectionB>
    <SectionD>
        <h1 class="mb-4">This is a Section D Header</h1>
        <p>This is a Section D paragraph</p>
        </br>
        <a href="/contact/" class="btn btn-primary text-neutral-50">Contact Us</a>
    </SectionD>
    <Footer />
    <script>
        import "../scripts/menu.js"
    </script>
  </body>
</html>
