---
import Social from "./Social.astro"
---

<style>
    .footerClass1 {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
    .footerClass2 {
        display: flex;
        gap: 0.5 rem;
        margin-top: 0.5rem;
    }
</style>

<footer>
    <div class="footerClass1">
        <p>Follow us</p>
    </div>
    <div>
        <Social platform="instagram" username="FMWBuilders" />
    </div>
</footer>