---

---
<div class="nav-links" >
    <a href="/">Home</a>
    <a href="home">FakeHome</a>
    <a href="/about/">Our Team</a>
    <a href="/how-we-work">How We Work</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a>
</div>

<style>
.nav-links {
    background-color: darkslategrey;
    padding: 2rem;
    padding: flex;
}

</style>


