---
const { image1, image2, image3 } = Astro.props;
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-8 px-24 py-6 bg-neutral-50">
    
    <div class="flex image-center justify-center w-full h-auto rounded-lg">
        <img src={image1} alt="Image 1" />
    </div>
    <div class="flex flex-col p-6 bg-neutral-50 bg-opacity-80 rounded-lg">
        <slot name="SectionC-1" />
    </div>
  
    <div class="flex flex-col px-6 py-6 bg-neutral-50 bg-opacity-80 rounded-lg">
        <slot name="SectionC-2"/>
    </div>
     <div class="flex image-center justify-center w-full h-auto rounded-lg">
        <img src={image2} alt="Image 1" />
    </div>

    <div class="flex image-center justify-center w-full h-auto rounded-lg">
        <img src={image3} alt="Image 1" />
    </div>
    <div class="flex flex-col p-6 bg-neutral-50 bg-opacity-80 rounded-lg">
        <slot name="SectionC-3"/>
    </div>

</section>
