---
const { platform, username} = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a{
        padding: 0.5rem 1rem;
        color: whitesmoke;
        background-color: rgb(0, 90, 248);
        text-decoration: none;
    }
</style>